@model Taxes.Models.useragent
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        La ville de Bujumbura est située  à l’ouest du Burundi dans la région naturelle de l’Imbo. Suite à son climat chaud et humide favorable aux maladies tropicales, cette région est restée inoccupée jusque vers la fin du 19ème siècle.
        En effet, il y avait même une légende qui disait que tout Mwami (roi) qui verrait le Lac Tanganyika mourrait. On dit que cette légende a été justifiée en 1908 quand le Roi Mwezi GISABO est mort pendant son voyage de retour de Bujumbura alors Usumbura vers Gitega, où il s’était rendu pour rendre visite au résident allemand, et où il avait pu voir le lac pour la première fois dans sa vie.

        Même si la région de l’Imbo était peu habitée, des sources historiques traditionnelles et modernes font référence à un marché appelé Mukaza, qui se trouvait sur le site qui abritait l’ancien marché central de Bujumbura, et autour duquel quelques regroupements commencèrent à apparaître à partir des années 1850.

        <img src="~/assets/img/mwezi.jpg" alt=""><img src="~/assets/img/mairie2.jpg" width="600" alt=""><br />
        Vers les années 1870, des envahisseurs de Zanzibar, qui avaient réussi à implanter plusieurs comptoirs commerciaux le long des rives du lac Tanganyika (qu’ils découvrirent les premiers dans les années 1820), cherchèrent à prendre le contrôle de toute la plaine et d’étendre leur domination sur tout le  Royaume du Burundi. Cependant, vaincus par les Abadasigana (armée royale de Mwezi GISABO), ils ne purent que s’installer dans la région du Buzige, l’actuel Bujumbura, d’où ils s’engagèrent dans le commerce et le trafic d’esclaves.
        En 1885, Mohamed Bin Khalfan (alias Rumaliza) avait réussi à prendre le contrôle de toute l’Imbo à partir de sa résidence à MAGARA (Bujumbura Rural, au sud de Bujumbura) et tous les princes et chefs locaux étaient sous son influence.
        Parmi les visiteurs de la plaine de l’Imbo pendant le 19ème siècle, on peut parler des Missionnaires d’Alger du Cardinal Lavigerie qui, dans les années 1880, installèrent la mission de Saint Antoine de l’Uzige (l’actuelle paroisse Saint-Michel de Bujumbura) ainsi que de célèbres explorateurs tels que Richard F. Burton et John H. Speke (1858), Henry M. Stanley et David Livingstone (1871 et 1896), ainsi qu’Oscar Baumann, dont la visite en 1892 fut suivie par l’installation d’une station militaire allemande à KAJAGA en 1896.
        KAJAGA était très humide, à basse altitude, et très exposée à des vents puissants, que les allemands avaient de grandes peines à combattre la malaria et à naviguer quand le temps était mauvais.
        Alors, en 1897, ils déménagèrent vers un site un peu plus élevé et stratégique où ils installèrent un port (sur le site de l’ex Cercle Nautique de Bujumbura). Pour cet effet, ils engagèrent de la main d’œuvre Swahilie de Tanzanie pour construire la Boma, un complexe de 100m sur 50m qui comprenait des bureaux, des résidences, une prison et un arsenal, et qui constituaient l’essentiel du quartier administratif. La Boma se trouvait quelque part entre l’actuelle Place de l’Indépendance et les terrains de basket-ball du Parquet.
        <!-- Modal -->
        <div class="modal fade" id="myMo" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content modal-lg">
                    <div class="modal-header text-right">
                        <a name="" id="" class="btn btn-default" href="#" role="button"><i class="fa fa-window-close" aria-hidden="true"></i></a>

                    </div>
                    <div class="modal-body">
                        helloooooollll
                    </div>
                    <div class="modal-footer">

                        <a name="" id="" class="btn btn-default" href="#" role="button">Ferme</a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<script>
    function dialogue(button) {
        $(document).ready(function () {
            alert("bbbbbbbb");
            $("#myMo").modal();
        });
    };
</script>
