
<h3><i class="fa fa-angle-right"></i> Liste des Contribuable</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="adv-table">

            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">

                <thead class="center">

                    <tr>
                        <th>Id</th>
                      
                    </tr>
                </thead>

                <tbody class="center">
                    <tr class="gradeA">
                        <td>  Prenom</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Nom</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Telephone</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Activite</td>
                    </tr>
                    <tr class="gradeA">
                        <td>tabara</td>
                    </tr>
                    <tr class="gradeA">
                        <td>fidel</td>
                    </tr>
                    <tr class="gradeA">
                        <td>jean</td>
                    </tr>
                    <tr class="gradeA">
                        <td>luisee</td>
                    </tr>
                    <tr class="gradeA">
                        <td>kalimabenge</td>
                    </tr>
                    <tr class="gradeA">
                        <td>budgarama</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>muutakura</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>Activite</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>tabara</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>fidel</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>jean</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>luisee</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>kalimabenge</td>  
                    </tr>
                    <tr class="gradeA">
                        <td>budgarama</td> 
                    </tr>
                    <tr class="gradeA">
                        <td>muutakura</td>  
                    </tr>
                </tbody>
            </table>

        </div>
   
    </div>
    <!-- page end-->
</div>
<!-- /row -->
